<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 引入Vue.js -->
<script src="../js/Vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 引入axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app">

    <el-form :inline="true" :model="Brand" class="selectByCondition">

        <el-form-item label="状态">
            <el-select v-model="Brand.status" placeholder="状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="Brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="Brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="selectByCondition">查询</el-button>
        </el-form-item>
    </el-form>

    <el-button type="danger" plain @click="DeleteByIds">批量删除</el-button>
    <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>

    <el-dialog
            title="新增商品"
            :visible.sync="dialogVisible"
            width="30%">

        <el-form ref="add" :model="Brand" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="Brand.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="Brand.companyName"></el-input>
            </el-form-item>
            <el-form-item label="描述">
                <el-input type="textarea" v-model="Brand.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-select v-model="Brand.status" placeholder="状态">
                    <el-option label="启用" value="1"></el-option>
                    <el-option label="禁用" value="0"></el-option>
                </el-select>
            </el-form-item>

        </el-form>

        <span slot="footer" class="dialog-footer">
             <el-button @click="dialogVisible = false">取 消</el-button>
             <el-button type="primary" @click="BrandAdd">立即创建</el-button>
            </span>

    </el-dialog>

    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                @selection-change="handleSelectionChange">

            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="brandName"
                    aligin="center"
                    label="品牌名称">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    aligin="center"
                    label="企业名称">
            </el-table-column>
            <el-table-column
                    prop="description"
                    aligin="center"
                    label="描述">
            </el-table-column>
            <el-table-column
                    prop="status"
                    aligin="center"
                    label="状态">
            </el-table-column>
            <el-table-column
                    aligin="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary"  @click.native.prevent="GetGhangeRow(scope.row)">修改</el-button>
                        <el-button type="danger"  @click.native.prevent="BrandDeleteById(scope.row)">删除</el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>

    </template>

    <!-- 修改信息 -->
    <el-dialog
            title="修改信息"
            :visible.sync="changeinfo"
            width="30%">

        <el-form ref="change" :model="GetChangeInfo" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="GetChangeInfo.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="GetChangeInfo.companyName"></el-input>
            </el-form-item>
            <el-form-item label="描述">
                <el-input type="textarea" v-model="GetChangeInfo.description"></el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-select v-model="GetChangeInfo.status" placeholder="状态">
                    <el-option label="启用" value="1"></el-option>
                    <el-option label="禁用" value="0"></el-option>
                </el-select>
            </el-form-item>

        </el-form>

        <span slot="footer" class="dialog-footer">
             <el-button @click="changeinfo = false">取 消</el-button>
             <el-button type="primary" @click="BrandChange">确定</el-button>
            </span>

    </el-dialog>

</div>



<script>
    new Vue({
            el:"#app",
            mounted() {
                this.selectAll();
            },

            methods: {
                //查询所有数据
                selectAll(){
                    let _this = this;
                    axios.get("http://taozi010210.github.io/SSS-demo/src/main/java/com/tao/controller/BrandController/brands").then(function (resp){

                        _this.tableData = resp.data.data;
                    })
                },

                //选中复选框
                handleSelectionChange(val) {
                    this.multipleSelection = val;
                    console.log(this.multipleSelection);
                },

                //条件查询
                selectByCondition() {
                    let _this = this;
                    console.log(this.Brand);

                    axios.post("http://taozi010210.github.io/SSS-demo/src/main/java/com/tao/controller/BrandController/brands/selectByConditions",_this.Brand).then(function (resp){
                        _this.tableData = resp.data.data;

                    })

                },

                //新增
                BrandAdd() {
                    let _this = this;
                    axios.post("http://taozi010210.github.io/SSS-demo/src/main/java/com/tao/controller/BrandController/brands",_this.Brand).then(function (resp){
                        if(resp.data.data == true){
                            _this.dialogVisible = false
                            _this.selectAll();
                            _this.$message({
                                message: '新增成功',
                                type: 'success'})
                        }
                    })


                },

                //单个删除
                BrandDeleteById(row){
                    this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let _this = this;
                        console.log(row.id);
                        axios.delete("http://taozi010210.github.io/SSS-demo/src/main/java/com/tao/controller/BrandController/brands/"+row.id).then(function (resp){
                            if(resp.data.data == true){
                                _this.selectAll();
                                _this.$message({
                                    message: '删除成功',
                                    type: 'success'})
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });


                },
                //获取修改值
                GetGhangeRow(row){

                    this.GetChangeInfo.id = row.id;
                    this.GetChangeInfo.brandName = row.brandName;
                    this.GetChangeInfo.companyName = row.companyName;
                    this.GetChangeInfo.description = row.description;
                    this.GetChangeInfo.status = row.status;
                    this.changeinfo = true;
                },
                //单个修改
                BrandChange(){
                    let _this = this;
                    axios.put("http://taozi010210.github.io/SSS-demo/src/main/java/com/tao/controller/BrandController/brands",_this.GetChangeInfo).then(function (resp){
                        if(resp.data.data == true){
                            _this.changeinfo = false;
                            _this.selectAll();
                            _this.$message({
                                message: '修改成功',
                                type: 'success'})
                        }
                    })

                },
                //批量删除
                DeleteByIds() {

                    let _this = this;
                    for (let i = 0; i < _this.multipleSelection.length; i++) {
                        _this.ids[i] = _this.multipleSelection[i].id;
                    }

                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {

                        axios.post("http://taozi010210.github.io/SSS-demo/src/main/java/com/tao/controller/BrandController/brands/deleteByIds",_this.ids).then(function (resp){
                            if(resp.data.data == true){
                                _this.selectAll();
                                _this.$message({
                                    message: '删除成功',
                                    type: 'success'})
                            }
                        })

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'

                        });
                    });
                },


            },

            data() {
                return{
                    //总记录数
                    totalCount:0,
                    //分页之当前页
                    currentPage:1,

                    pageSize:5,

                    //修改对话框
                    changeinfo:false,

                    //新增对话框
                    dialogVisible:false,

                    //获取修改信息
                    GetChangeInfo:{
                        id:"",
                        brandName:"",
                        companyName:"",
                        description:"",
                        status:""
                    },
                    Brand:{
                        id:"",
                        brandName:"",
                        companyName:"",
                        description:"",
                        status:""
                    },

                    //被选中的数据数组
                    multipleSelection:[],

                    //被选中的id数组
                    ids:[],

                    //查找获得的数据数组
                    tableData:[{id:"假数据",brandName:"假数据",companyName:"假数据",description:"假数据",status:0}],


                }
            },



        }
    )
</script>

</body>
</html>